// @import 'vendor/reset';
@import 'blocks/vars';
@import 'mixins';
// @import "./vendor/animate";


@import 'fonts';
@import 'settings';

html,
body {
  height: 100%;
  margin: 0;
  font-family: var(--font-family);
  font-weight: 400;
  color: var(--text-color);
  background: #f8f8f8;
}

.main {
  height: 100%;
  flex: 1 0 auto;
  transition: all 0.3s linear;

  & .section:first-of-type{
    margin-top: 80px;
  }
}

 body:has(.open){
  overflow: hidden;
}

.page {
  &:has(.menu-item-has-children:hover) {
    & .overlay {
      background: rgba(0, 0, 0, 0.65);    
    }

    & .header {
      position: relative;
      z-index: 10;
    }

    & .section{
      position: relative;
      z-index: -1;
    }
  }
  &:has(.open) {
    & .overlay {
      background: rgba(0, 0, 0, 0.65);
     
    }

    & .header {
      position: relative;
      z-index: 10;
    }

    & .section{
      position: relative;
      z-index: -1;
    }
  }
}

.overlay{
  position: absolute;
  inset: 0;
  z-index: -1;
  transition: all 0.3s linear;
}

// ======blocks=========

@import 'blocks/container';
@import 'blocks/page';
@import 'blocks/header';
@import 'blocks/hero';
@import 'blocks/types';
@import 'blocks/tools';
@import 'blocks/areas';
@import 'blocks/tasks';
@import 'blocks/price';
@import 'blocks/values';
@import 'blocks/footer';

@import 'blocks/form';
@import 'blocks/about/direction';
@import 'blocks/about/in_digit';
@import 'blocks/about/company';
@import 'blocks/about/founders';
@import 'blocks/about/team';

@import 'blocks/single-cases/definintions';
@import 'blocks/single-cases/steps';

@import 'blocks/toolsLidar';
@import 'blocks/servicesLidar';
@import 'blocks/ourservice';
@import 'blocks/sfera';
@import 'blocks/benefits';

@import 'blocks/adventages';
@import 'blocks/warranty';
@import 'blocks/criteria';


@import 'blocks/thanks_modal';
@import 'blocks/secret_form';

@import 'blocks/datasets/datasets_hero';
@import 'blocks/datasets/quality_dataset';
@import 'blocks/datasets/license_datasets';
@import 'blocks/datasets/dataset_taxonomies';
@import 'blocks/datasets/datasets_main';


// датасеты

@import 'blocks/dataset/intro';
@import 'blocks/dataset/info';
@import 'blocks/dataset/statistic';
@import 'blocks/dataset/characteristic';
@import 'blocks/dataset/industries';


.mb40{
  margin-bottom: 40px;
  font-weight: 500;
}
.page{
  overflow: hidden;
}