.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.8;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.modal-window {
    background: #fff;
    border-radius: 32px;
    width: 100%;
    min-height: var(--size200);
    padding: 48px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    position: relative;
    overflow: hidden;
    transform: scale(0.8);
    transition: transform 0.3s ease;

    max-height: 100vh;
    overflow-y: auto;

    @include mobile {
        padding: 15px;
    }

    & * {
        transition: all 0.3s linear;
    }

    & .project_title {
        font-weight: 700;
        font-size: clamp(24px, 3vw, 32px);
        line-height: 120%;
        max-width: 700px;
        text-wrap: balance;

        @include mobile{
            max-width: 90%;
        }
    }
}

.modal-overlay.active {
    display: flex;

    &.animation {
        opacity: 1;

        & .modal-window {
            transform: scale(1);
        }
    }
}

.modal-close {
    position: absolute;
    right: 20px;
    top: 28px;
    z-index: 10;
}