.secret_form {
    transition: all 0.3s linear;
    transform-origin: 0 0;


    &.hide{
        transform: rotateX(90deg);
        max-height: 0;
        margin: 0;
    } 
    
    & .secret_form_inner {
        background: linear-gradient(328deg, #d4ff00 0%, #fff 95.84%);
        border-radius: 32px;
        padding: 32px 32px 48px 32px;
        align-items: flex-start;
        gap: 135px;

        @media (max-width: 1300px) {
            gap: 80px;
        }

        @include for-desktop {
            padding-bottom: 0;
        }

        @include tablet {
            flex-direction: column;
            gap: 0;
            padding-bottom: 32px;
        }

        @include mobile {
            padding: 20px 15px;
        }
    }

    & .secret_form_left {
        position: relative;
        padding-bottom: 200px;
        flex: 1 0 50%;

        @include for-desktop {
            padding-bottom: unset;
        }

        @include tablet {
            flex: unset;
        }

        & .img-wrap {
            position: absolute;
            bottom: -48px;
            right: -30%;
            z-index: 1;
            display: flex;
            align-items: flex-end;

            @media (max-width: 1450px) {
                right: -45%;
            }

            @include for-desktop {
                position: static;
                bottom: unset;
                right: unset;
                z-index: unset;
                margin-top: 20px;
            }

            @include tablet {
                justify-content: center;
            }


            & svg {
                width: 565px;
                max-height: 320px;

                @media (max-width: 1300px) {
                    max-height: 250px;
                    width: unset;
                }

                @include for-desktop {
                    max-height: 170px;
                }

                @include small-mobile {
                    max-height: 140px;
                }
            }
        }
    }

    & .project_title {
        max-width: 430px;
        font-size: clamp(28px, 3vw, 40px);
        margin-bottom: 24px;

        @include tablet {
            max-width: unset;
        }
    }

    & p {
        font-size: clamp(16px, 3vw, 24px);

        @include tablet {
            max-width: unset;
            text-align: center;
        }
    }

    & .secret_form_wrapper {
        display: flex;
        flex-direction: column;
        gap: 16px;

        & .flex-row {
            gap: 6px;

            & span,
            & input {
                width: 100%;
            }
        }

        & .flex-row.--agree {
            align-items: flex-start;
            gap: 14px;
            margin-bottom: 12px;

            @include tablet {
                align-items: center;
            }

            & span:first-of-type {
                max-width: 18px;
            }

            & input {
                width: 18px;
                height: 18px;
            }

            & .project_agreement {
                text-align: left;
            }
        }

        & .submit_arrow {
            max-width: 347px;
            justify-content: center;

            @include small-mobile {
                max-width: 100%;
            }

            &::after {
                right: 80px;

                @include small-mobile {
                    right: 40px;
                }
            }

            & .project_submit {
                padding-left: 80px;

                @include small-mobile {
                    padding-left: 40px;
                }
            }
        }
    }
}

.secret_thanks {
    transform-origin: 0 0;
    transform: rotateX(-90deg);
    transition: all 0.3s linear;
    max-height: 0;

    &.active{
        transform: rotate(0);
        max-height: unset;
    }

    & .secret_form_inner {
        background: linear-gradient(328deg, #d4ff00 0%, #fff 95.84%);
        border-radius: 32px;
        padding: 0 32px;
        gap: 100px;

        @media (max-width: 1450px) {
            gap: 20px;
            justify-content: space-between;
        }

        @include tablet {
            flex-direction: column-reverse;
            padding: 32px;
        }
    }

    & .project_title {
        font-size: clamp(28px, 3vw, 40px);
        margin-bottom: 24px;

        @include tablet {
            max-width: unset;
            text-align: center;
        }
    }

    & p {
        font-size: clamp(16px, 3vw, 24px);
        max-width: 380px;

        @include tablet {
            max-width: unset;
            text-align: center;
        }
    }

    & .img-wrap {
        display: flex;
        align-items: flex-end;

        @include tablet {
            align-items: center;
            max-height: 400px;
            overflow: hidden;
            justify-content: center;
        }

        & svg {
            @media (max-width: 1450px) {
                max-width: 500px;
            }

            @include tablet {
                max-width: 400px;
                position: relative;
                left: 50px;
            }

            @include mobile{
                max-width: 300px;
            }
        }
    }

}