.info {
    & .grid-row {
        grid-template-columns: 2fr 1fr;
        gap: 32px;

        @media(max-width: 1250px){
            grid-template-columns: 1fr;
        }

        @media (max-width:650px){
            gap: 16px;
        }
    }
}

.info_table {
    & table {
        table-layout: fixed;
        width: 100%;
        border-collapse: separate;
        border-radius: 32px;
        position: relative;
        background-color: #fff;
        border-spacing: 0;

        &::before {
            position: absolute;
            inset: -1px;
            background: linear-gradient(0deg, #E3FB1E 30%, #B1FE33 100%);
            border-radius: 32px;
            content: '';
            z-index: -1;
        }

        & thead {
            & tr {
                border-top-left-radius: 32px;
                border-top-right-radius: 32px;
                overflow: hidden;
                clip-path: inset(0 0 0 0 round 32px 32px 0 0);
                background: linear-gradient(88deg, #9afd10 0%, #e3fb1e 100%);
            }

            & th {
                padding: 24px 24px 16px;
                text-align: left;
                font-family: var(--second-family);
                font-weight: 400;
                font-size: 16px;
                line-height: 140%;
                color: #172224;

                @media(max-width: 650px){
                    padding-top: 16px;
                }
            }
        }

        & tbody {

            & td {
                border-bottom: 2px solid #effd9a;
                padding: 8px 24px;
                font-weight: 400;
                font-size: 16px;
                line-height: 140%;
                color: #172224;

                @media (max-width: 992) {
                    padding: 4px 16px 8px;
                }
            }
        }

        & tr:last-child td {
            padding-bottom: 24px;

            @media(max-width:992px){
                padding-bottom: none;
            }
        }

    }
}

.info_link {
    margin: 56px auto 0;

    @include tablet{
        margin-top: 32px;
    }

    @media(max-width: 650px){
        margin-top: 16px;
    }
}

.info_swiper {
    min-width: 0;
    background-color: #fff;
    border-radius: 32px;
    position: relative;

    &::before {
        position: absolute;
        inset: -2px;
        background: linear-gradient(0deg, #E3FB1E 30%, #B1FE33 100%);
        border-radius: 32px;
        content: '';
        z-index: -1;
    }
    
}
.swiper-info{
    height: calc(100% - 94px);

    @include small-tablet{
        height: unset;
    }

    & .swiper-slide img{
        width: 100%;
        border-radius: 32px;
        height: 100%;
    }
}

.swiper_arrows {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    padding-top: 24px;

    @include small-tablet{
        padding-bottom: 24px;
    }
}

.swiper_arrows_info {
    &::after {
        display: none;
    }
}

.swiper_arrows_info {
    width: 48px;
    height: 48px;
    position: static;
    margin-top: unset;
    padding: 12px;
    border: 1px solid #172224;
    border-radius: 50%;

    @include small-tablet{
        display: none;
    }
}

.info-pagination {
    display: none;

    & .swiper-pagination-bullet-active{
        background-color: #9afd10;
    }

    @include small-tablet{
        display: flex;
        justify-content: center;
        align-items: center;
        position: static;
    }
}