.direction_list {
    margin-top: clamp(30px, 4vw ,60px);

    display: flex;
    flex-wrap: wrap;
    gap: clamp(6px, 3vw ,30px);
    align-items: center;



    & li {
        border: 1px solid #172224;
        border-radius: 16px;
        padding: 12px 34px 18px 34px;
        font-weight: 400;
        font-size: clamp(13px, 3vw ,20px);
        line-height: 140%;
        color: #172224;

        @include tablet{
            padding: 6px 12px;
        }

        @include mobile{
            flex: 1 0 calc(50% - 6px);
            text-align: center;
        }
    }
}